<div class="page-header">
  <h3>Sharding</h3>
</div>


<div class="tabbable">
  <ul class="nav nav-tabs">
    <li ><a href="/sharding">Dashboard</a></li>
    <li ><a href="/sharding/collections">Collections</a></li>
    <li ><a href="/sharding/shards">Shards</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="graphs">
      
      <div class="container-fluid">
        <div class="row-fluid">
          <div id="content" class="span8">
            <canvas id="myCanvas" height="450" width="774" count="<%= @collection.get_shards_info_by_percent.size %>" color="<%= @collection_color_table[@collection.name] %>"
              <% for i in (0...@collection.shards_info.size) do%>
              shard_<%= i %>_name="<%= @collection.get_shards_info_by_percent.keys[i] %>"
              shard_<%= i %>_size="<%= @collection.get_shards_info_by_percent.values[i] %>"
              shard_<%= i %>_color="<%= @shard_color_table[@collection.get_shards_info_by_percent.keys[i]] %>"
              <% end %>

            >
            </canvas>
          </div>

          <div id="rightMargin" class="span4">
            <div id="collections-legend" style="font-family: 'Helvetica Neue', Helvetica, sans-serif;">
              <h2>Collections</h2>
              <% @collection_color_table.each do |name, color| %>
                <div class="key" style="word-wrap: break-word;">
                  <div class="color" style="margin-right: 5px; background-color: <%= color %>; height: 15px; width: 15px; float: left;">
                  </div>
                  <span class="ns" style="font-family: 'Helvetica Neue', Helvetica, Sans;"><%= name %></span>
                </div>
              <% end %>
            </div>
            <div id="collections-legend" style="font-family: 'Helvetica Neue', Helvetica, sans-serif;">
              <h2>Shards</h2>
              <% @shard_color_table.each do |name, color| %>
                <div class="key" style="word-wrap: break-word;">
                  <div class="color" style="margin-right: 5px; background-color: <%= color %>; height: 15px; width: 15px; float: left;">
                  </div>
                  <span class="ns" style="font-family: 'Helvetica Neue', Helvetica, Sans;"><%= name %></span>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript">
    window.onload = function(){
      var canvas = document.getElementById("myCanvas");
      var height = canvas.height;
      var width = canvas.width;
      var background_color = canvas.getAttribute("color");
      var count = canvas.getAttribute("count");

      paper.setup(canvas);
      with(paper){
        var rect = new Path.Rectangle(0, 0, width, height);
        rect.strokeColor = "white"
        rect.fillColor = background_color;

        var center = new Point(width / 2, height / 2);
        var factor = 3 / 4;
        var radius = height / 2 * factor;
        var point = new Point(center.x, center.y - radius);
        var stroke_width = height / 2 * 2 / 5;
        for (var i = 0; i < count; i++)
        {
          var percent = canvas.getAttribute("shard_" + i + "_size");
          var color = canvas.getAttribute("shard_" + i + "_color");
          var circle = new Path();
          circle.strokeWidth = stroke_width;
          circle.strokeColor = color;

          for (var j = 0; j < parseInt(360 * percent); j++)
          {
            circle.add(point);
            point = point.rotate(1, center);
          }
        }
        view.draw();

      }
    }
  </script>