<div class="page-header">
  <h3>Sharding</h3>
</div>

<%= javascript_include_tag "sharding/collections.js" %>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li ><a href="/sharding">Dashboard</a></li>
    <li ><a href="/sharding/collections">Collections</a></li>
    <li ><a href="/sharding/shards">Shards</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="graphs">
      
      <div class="container-fluid">
        <div class="row-fluid">
          <div id="content" class="span8">
            <canvas id="myCanvas" height="450" width="774" count="<%= @collection.get_shards_info_by_percent.size %>" color="<%= @collection_color_table[@collection.name] %>"
              <% for i in (0...@collection.shards_info.size) do%>
              shard_<%= i %>_name="<%= @collection.get_shards_info_by_percent.keys[i] %>"
              shard_<%= i %>_size="<%= @collection.get_shards_info_by_percent.values[i] %>"
              shard_<%= i %>_color="<%= @shard_color_table[@collection.get_shards_info_by_percent.keys[i]] %>"
              <% end %>

            >
            </canvas>
          </div>

          <div id="rightMargin" class="span4">
            <div id="collections-legend" style="font-family: 'Helvetica Neue', Helvetica, sans-serif;">
              <h2>Collections</h2>
              <% @collection_color_table.each do |name, color| %>
                <div class="key" style="word-wrap: break-word;">
                  <div class="color" style="margin-right: 5px; background-color: <%= color %>; height: 15px; width: 15px; float: left;">
                  </div>
                  <span class="ns" style="font-family: 'Helvetica Neue', Helvetica, Sans;"><%= name %></span>
                </div>
              <% end %>
            </div>
            <div id="collections-legend" style="font-family: 'Helvetica Neue', Helvetica, sans-serif;">
              <h2>Shards</h2>
              <% @shard_color_table.each do |name, color| %>
                <div class="key" style="word-wrap: break-word;">
                  <div class="color" style="margin-right: 5px; background-color: <%= color %>; height: 15px; width: 15px; float: left;">
                  </div>
                  <span class="ns" style="font-family: 'Helvetica Neue', Helvetica, Sans;"><%= name %></span>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


